body {
	background: url('../images/background.png') 0 0 repeat;
}

.container {
	overflow: hidden;
}

header img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -100;
	min-width: 100%;
	height: 30%;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: url('../images/blur.svg#blur');
}

nav {
	border-top-style: solid;
	border-top-width: thick;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: thick;
	border-bottom-color: #ffffff;
	font-size: 35px;
	color: #ffffff;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
	line-height: 35px;
	margin-top: 20px;
}

nav a {
	text-decoration: none;
	color: #ffffff;
}

nav a:hover {
	color: #64d20f;
}

nav h2 {
	display: inline;
	font-family: inherit;
	color: #4eb400;
}

nav h2:hover {
	color: #64d20f;
}

main {
	display: inline-block;
	background-color: #ffffff;
	padding: 1.5rem 0.5rem;
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

main:before, main:after {
	content: '';
    position: absolute; 
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.date-author {
	font-size: 11px;
}

article {
	padding-bottom: 5px;
}

.tag {
	color: #ffffff;
	text-decoration: none;
	padding: 2px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 23px;
	border-image-slice: 4 4 4 10 fill;
	border-image-width: 8px 8px 8px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: url('../images/tag.svg');
	margin-right: 3px;
}

.tag:hover {
	color: #4eb400;
}

.tag:last-of-type {
	clear: right;
}

footer {
	font-size: 10px;
	text-align: justify;
}

footer ul li {
	margin-top: 2px;
	height: 72px;
	width: 72px;
	float: left;
}

footer ul li a {
	display: inline-block;
	height: 72px;
	width: 72px;
}

a.rss {
	background-image: url('../images/rss.png');
}

a.facebook {
	background-image: url('../images/facebook.png');
}

a.googleplus {
	background-image: url('../images/googleplus.png');
}

a.youtube {
	background-image: url('../images/youtube.png');
}


/* Extras for mobile view */
@media only screen and (max-width: 767px) {
	main {
		display: inline-block;
		background-color: #ffffff;
		padding: 1.5rem 0;
		position:relative;       
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
	
	h3, h4, h5, p, a.overview, span.date-author {
		padding: 0 0.5rem;
	}
		
	footer ul li {
		margin-top: 2px;
		height: 75px;
		width: 75px;
		float: left;
	}
	
	footer ul li a {
		display: inline-block;
		height: 72px;
		width: 72px;
		margin: 1.5px;
	}
}
